.form-card {
  border: 1px solid #dee2e6;
  background-color: #fff;
  border-radius: 10px;
}

.btn-primary {
  background-color: #4285f4;
  border: none;
}

.btn-primary:hover {
  background-color: #172b56;
}

.table th,
.table td {
  vertical-align: middle;
}

.table thead th {
  /* background-color: #f8f9fa; */
  font-weight: 600;
}
